h1{
    color: rgb(41,47,109);
}

body {
    padding-top: 70px;
}

.container{
    padding-top: 70px;
    align-content: center;
}
  
@media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
}
  
.btn{
    background-color: rgb(41,47,109);
    border-color: rgb(41,47,109);
}

.btn:hover{
    background-color: rgba(188, 199, 39, 0.808);
    border-color: rgba(188, 199, 39, 0.808);
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    text-align: center;
}