<div class="container">
    <h1 class="my-4">Membresías</h1>
    <div *ngFor="let membresia of membresias" id="lista_convenios">
     <div class="row">
         <div class="col-md-4 col-centered">
             <img class="img-fluid rounded mb-3 mb-md-0" style="width: 200px; height: 200px;" src="{{membresia.IMAGEN}}" alt="">
         </div>
         <div class="col-md-8">
             <h3>{{membresia.NOMBRE}}</h3>
             <p>{{membresia.DESCRIPCION}}</p>
             <a class="btn btn-primary" href="{{membresia.LINK}}">Averigua más</a>
         </div>
     </div>
     <hr>
     </div>   
 </div>