<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: white" id="mainNav">
  <div class="container">
     <a href="#" class="navbar-brand"><img src="https://firebasestorage.googleapis.com/v0/b/inter-8999f.appspot.com/o/logo.png?alt=media&token=4006715e-486e-4b65-bd33-8268aa0a6e6f" style="height: 40px"></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>
     <a class="navbar-brand js-scroll-trigger" style="color: rgb(41,47,109)" href="#page-top">UPB</a>
     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color: rgb(41,47,109)" href="/noticias">Noticias</a>
          </li> 
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color: rgb(41,47,109)" href="/programas">Programas internacionales</a>
           </li>
           <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color: rgb(41,47,109)" href="/membresias">Membresías</a>
           </li>
           <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color: rgb(41,47,109)" href="/convenios">Convenios</a>
           </li>
        </ul>
     </div>
  </div>
</nav>