<div id="container">
  <section class="masthead text-center text-white d-flex">
    <div class="container my-auto">
       <div class="row">
          <div class="col-md-10 mx-auto">
             <h1 class="text-uppercase">
                <strong>INTERNACIONALIZACIÓN</strong>
             </h1>
             <hr class="light my-4">
          </div>
          <div class="col-md-8 mx-auto mb-5">
             <p>La Universidad Privada Boliviana, en su proyección a la internacionalización, ha suscrito convenios con universidades de Norteamérica, Europa y Latinoamérica.</p>
             <a pageScroll class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Aprende más</a>
          </div>
       </div>
    </div>
  </section>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false" data-pause="false">
     <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
     </ol>
     <div class="carousel-inner">
        <div class="carousel-item active">
           <img id="imagen-carrusel" (load)='empezarCarrusel()' class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/inter-8999f.appspot.com/o/Ciudades%2FCochabamba.jpg?alt=media&token=1063bd93-73f1-4c7e-acea-0d222fee7133">
           <div class="carousel-caption d-none d-md-block">
              <h2>Cochabamba, Bolivia.</h2>
           </div>
        </div>
        <div class="carousel-item">
           <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/inter-8999f.appspot.com/o/Ciudades%2FValencia.png?alt=media&token=8a7be93d-ace7-406a-a2a0-d0c0055c1635">
           <div class="carousel-caption d-none d-md-block">
              <h2>Valencia, España</h2>
           </div>
        </div>
        <div class="carousel-item">
           <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/inter-8999f.appspot.com/o/Ciudades%2FHong%20Kong.jpg?alt=media&token=03faffd1-253b-4d3f-98ba-a5ab7c376688">
           <div class="carousel-caption d-none d-md-block">
              <h2>Hong Kong, China</h2>
           </div>
        </div>
        <div class="carousel-item">
           <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/inter-8999f.appspot.com/o/Ciudades%2FDubai.jpg?alt=media&token=49084b4b-7480-40e1-9774-d51e7c85407b">
           <div class="carousel-caption d-none d-md-block">
              <h2>Dubái, Emiratos Árabes Unidos</h2>
           </div>
        </div>
        <div class="carousel-item">
           <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/inter-8999f.appspot.com/o/Ciudades%2FMiami.jpg?alt=media&token=ce63a0bf-287f-45c2-b474-b8cd5e408a40">
           <div class="carousel-caption d-none d-md-block">
              <h2>Miami, Estados Unidos</h2>
           </div>
        </div>
      </div>
      <!--
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
      </a>-->
  </div>
</div>