<div id="container">
  <section class="masthead text-center text-white d-flex">
    <div class="container my-auto">
       <div class="row">
          <div class="col-md-10 mx-auto">
             <h1 class="text-uppercase">
                <strong>INTERNACIONALIZACIÓN</strong>
             </h1>
             <hr class="light my-4">
          </div>
          <div class="col-md-8 mx-auto mb-5">
             <p>La Universidad Privada Boliviana, en su proyección a la internacionalización, ha suscrito convenios con universidades de Norteamérica, Europa y Latinoamérica.</p>
             <a pageScroll class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Aprende más</a>
          </div>
       </div>
    </div>
  </section>
     <div class="carousel-inner">
        <div class="carousel-item active">
           <img (load)='empezarCarrusel()' class="d-block w-100 imagen" src="https://firebasestorage.googleapis.com/v0/b/inter-8999f.appspot.com/o/Ciudades%2FCochabamba.jpg?alt=media&token=1063bd93-73f1-4c7e-acea-0d222fee7133">
           <div class="carousel-caption d-none d-md-block">
              <h2>Cochabamba, Bolivia.</h2>
           </div>
  </div>
</div>