.ngbSlide{
    background-size: cover;
    width: 100%;
}

.row{
  margin-bottom: 10vh;
}

img{
    background-size: cover;
    height: 100vh;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    width: 100%;
    filter:brightness(0.6);
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  padding-top: 70px;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: rgb(41,47,109);
}

hr.light {
  border-color: #fff;
}

a {
  color: rgb(41,47,109);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: rgb(41,47,109);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h1{
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

.bg-primary {
  background-color: rgb(41,47,109) !important;
}

.bg-dark {
  background-color: rgb(41,47,109)!important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: rgb(41,47,109);
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

h5{
  font-size: 1.4em;
}    

.text-primary {
  color: rgb(41,47,109) !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: rgb(41,47,109);
  color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: rgba(188, 199, 39, 0.808)!important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(188, 199, 39, 0.808) !important;
}