<div class="container">
    <div class="row">
        <div class="col">
            <div class="card my-4">
                <h5 class="card-header">PROGRAMAS INTERNACIONALES</h5>
                <div class="card-body">
                    Sean bienvenidos a la página de información de programas de doble titulación y certificaciones internacionales. Nuestros programas se encuentran diseñados para desarrollar profesionales con capacidades y habilidades de gestión de negocios globales, actitudes
                    que caracterizan a los emprendedores y ejecutivos capaces de enfrentar y vencer los desafíos de un mundo globalizado, a través de la excelencia y los altos estándares internacionales de formación académica que ha logrado la UPB.
                </div>
            </div>
            <div class="card mb-4">
                <a href="/articulo?1bj2s2np7ny">
                    <img class="card-img-top" src="http://www.upb.edu/sites/default/files/pictures/PAG%20%281%29.gif" alt="PAG">
                </a>
            </div>
            <div class="card mb-4">
                <a href="/articulo?a3mxabhoxmt">
                    <img class="card-img-top" src="http://www.upb.edu/sites/default/files/pictures/Cover%20web-04.jpg" alt="GEMBA">
                </a>
            </div>
            <div class="card mb-4">
                <a href="/articulo?zt979imvtz">
                    <img class="card-img-top" src="http://www.upb.edu/sites/default/files/styles/imagen_pagina__980x350__/public/Cover%20web-03.jpg?itok=P7shp1I5" alt="MBA">
                </a>
            </div>
        </div>
    </div>
</div>