<div class="container">
  <div class="row">
    <div class="col">
      <div class="card my-4">
        <h5 class="card-header">PROGRAMAS INTERNACIONALES</h5>
        <div class="card-body">
          Sean bienvenidos a la página de información de programas de doble titulación y certificaciones internacionales.  Nuestros programas se encuentran diseñados para desarrollar profesionales con capacidades y habilidades de gestión de negocios globales, actitudes que caracterizan a los emprendedores y ejecutivos capaces de enfrentar y vencer los desafíos de un mundo globalizado, a través de la excelencia y los altos estándares internacionales de formación académica que ha logrado la UPB.
        </div>
      </div>
      <div class="card mb-4">
        <img class="card-img-top" src="http://www.upb.edu/sites/default/files/pictures/PAG%20%281%29.gif" alt="Card image cap">
        <div class="card-body">
          <!--
          <h2 class="card-title">PROGRAMA DE ALTA GERENCIA INTERNACIONAL</h2>
          -->
          <p class="card-text">La UPB en alianza con la Universidad Politécnica de Valencia, han desarrollado un programa de Alta Gerencia Internacional, que plantea formar de manera práctica y teórica en habilidades gerenciales y dotar de herramientas, en un programa de una semana intensiva de formación continua en Valencia (España).</p>
          <a href="/articulo" class="btn btn-primary" style="background-color: rgba(41,47,109,0.9); border-color: rgba(41,47,109,0.9);">Ver más &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Publicado el 9 de junio, 2018 por
          <a href="#">UPB</a>
        </div>
      </div>
      <div class="card mb-4">
        <img class="card-img-top" src="http://www.upb.edu/sites/default/files/pictures/Cover%20web-04.jpg" alt="Card image cap">
        <div class="card-body">
          <!--
          <h2 class="card-title">GLOBAL EXECUTIVE MBA</h2>
          -->
          <p class="card-text">Un programa ejecutivo dirigido a personas relacionadas en la gestión de negocios internacionales y en las operaciones de la cadena de suministro de la empresa (áreas técnica, comercial, legal, logística, inventarios), atendiendo la necesidad creciente de desarrollar habilidades directivas y gerenciales, áreas clave para la competitividad y el desempeño empresarial.</p>
          <a href="/articulo" class="btn btn-primary" style="background-color: rgba(41,47,109,0.9); border-color: rgba(41,47,109,0.9);">Ver más &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Publicado el 9 de junio, 2018 por
          <a href="#">UPB</a>
        </div>
      </div>
  
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Antiguo</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Nuevo &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>