.container {
    padding-top: 70px;
    align-content: center;
}

.card-header {
    background: rgba(41, 47, 109, 0.9);
    color: white;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}