<div class="container">
    <h1>Renovación de convenio UPB y UPV</h1>
    <p>Celebramos la renovación del convenio que tenemos entre la Universidad Privada Boliviana y la Universitat Politècnica de València UPV</p>
    <p id="abajo" style="text-align: center; width: 100%"><img class="img-fluid" src="http://www.upb.edu/sites/default/files/styles/imagen_pagina__980x350__/public/convenio%20UPB%20UPV-01.jpg?itok=Z_VUJjDT" alt=""></p>
    <hr>
    <p style="text-align: center">
        <youtube-player [videoId]="id" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player>
    </p>
</div>