<div class="main" id="main">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-chalkboard-teacher sr-icons"></i>
                    <h3 class="mb-3"><a href="/profesores">Profesores internacionales</a></h3>
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-users sr-icons"></i>
                    <h3 class="mb-3"><a href="http://aiblat2019.org/#">Conferencias internacionales</a></h3>
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-file-alt sr-icons"></i>
                    <h3 class="mb-3"><a href="/noticias">Noticias</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>