<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#">
                  Start Bootstrap
              </a>
          </li>
          <li>
              <a href="#">Dashboard</a>
          </li>
          <li>
              <a href="#">Shortcuts</a>
          </li>
          <li>
              <a href="#">Overview</a>
          </li>
          <li>
              <a href="#">Events</a>
          </li>
          <li>
              <a href="#">About</a>
          </li>
          <li>
              <a href="#">Services</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
      </ul>
  </div>
</div>
<!-- /#wrapper -->
<div class="container">
  <h1>Eventos</h1>
  <br>
  <div class="row">
     <div class="col">
        <h2>Noticia</h2>
        <fb-post href="https://www.facebook.com/media/set/?set=a.2078601722401141.1073741843.1476092692652050&type=3"></fb-post>
     </div>
     <div class="col">
        <h2>Foro de negocios digitales</h2>
        <fb-post href="https://www.facebook.com/facultadde.postgradoupb/posts/2072727462988567"></fb-post>
     </div>
  </div>
  <div class="row">
     <div class="col">
        <h2>Conversatorio La Paz</h2>
        <fb-post href="https://www.facebook.com/facultadde.postgradoupb/posts/2071802743081039"></fb-post>
     </div>
     <div class="col">
        <h2>Conversatorio</h2>
        <fb-post href="https://www.facebook.com/facultadde.postgradoupb/posts/2066099216984725"></fb-post>
     </div>
  </div>
</div>