<div
  class="container"
  style="padding-top: 75px;"
>
  <h1>Foro internacional de La Paz</h1>

  <p>
    En el foro Internacional sobre globalización que se realizó en la FEPC el día Jueves 20 de septiembre, se tuvo a Menahem Prywes Ph. D. en Economía, como orador principal, quien fue Economista Senior del Banco Mundial en Washington D.C., con amplia experiencia en campo en el área del desarrollo local, evaluación de la pobreza, trabajó por más de 10 años en África en la re-estructuración de zonas post conflictos bélicos y manejo de presupuestos gubernamentales
  </p>

  <div
    class="row"
    style="padding: 35px"
  >
    <div
      class="col"
      style="text-align: right;"
    ><img
          class="img-fluid rounded mb-3 mb-md-0"
          src="https://scontent-mia3-1.xx.fbcdn.net/v/t1.0-9/42673268_2130525203875459_529996550554779648_o.jpg?_nc_cat=100&_nc_ht=scontent-mia3-1.xx&oh=7ab772d75fb298cf058234cd5c09b036&oe=5C7CBB67"
          alt=""
        >
    </div>

    <div class="col">
      <img
        class="img-fluid rounded mb-3 mb-md-0"
        src="https://scontent-mia3-1.xx.fbcdn.net/v/t1.0-9/42790132_2130525333875446_4655490050576875520_o.jpg?_nc_cat=103&_nc_ht=scontent-mia3-1.xx&oh=d893c3c2b3e1401cc162f81d6876e651&oe=5C7AB2D4"
        alt=""
      >
    </div>
  </div>
  <p>Tres importantes eventos académicos se han realizado esta segunda quincena de Agosto, en beneficio de la comunidad UPB, el primero fue el Taller cerrado "GlobalSales" para Maestrantes con Christian Navia MSc., al que además asistieron miembros del Alumni Postgrado La Paz, el segundo fue la Conferencia de "VULNERABILIDAD SÍSMICA DE ESTRUCTURAS" con la Escuela de Graduados de Ingeniería dictada por M.Sc. Ing. Jorge Luis Zambrano López, abierta para el público en general donde asistieron, tanto Alumnos de Pregrado, postgrado, Ex alumnos y profesionales de La Paz, el tercer evento fue una conferencia de Negocios Digitales en la FEPO organizado por la asociación de Alumni de Oruro dictada por Sergio García Agreda Ph. D.</p>

  <div
  class="row"
  style="padding: 35px"
>
  <div
    class="col"
    style="text-align: right;"
  ><img
        class="img-fluid rounded mb-3 mb-md-0"
        src="https://scontent-mia3-1.xx.fbcdn.net/v/t1.0-9/39954962_2112796372315009_820115282092621824_o.jpg?_nc_cat=107&_nc_ht=scontent-mia3-1.xx&oh=1f5de752421472b4aed931be49e38c1e&oe=5C7FD362"
        alt=""
      >
  </div>

  <div class="col">
    <img
      class="img-fluid rounded mb-3 mb-md-0"
      src="https://scontent-mia3-1.xx.fbcdn.net/v/t1.0-9/40042940_2112838552310791_3132028209671962624_o.jpg?_nc_cat=103&_nc_ht=scontent-mia3-1.xx&oh=b6ba22623f562f5e6fb1602c41c17cfa&oe=5C8A494B"
      alt=""
    >
  </div>
</div>

</div>
