<article id="articulo">
    <h1 class="page-header">Christopher Mejía&nbsp;PhD.</h1>
    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
            <div class="field-item even" property="content:encoded">
                <div class="row" id="columna">
                    <div class="col">
                        <p style="text-align: center;"><img class="img-fluid" id="imagenCM" src="http://www.upb.edu/sites/default/files/pictures/imagen1.png" alt=""></p>
                    </div>
                    <div id="texto" class="col">
                        <p>En Marzo del 2018 recibimos la grata visita del Dr. Christopher Mejía Argueta Director de MIT Supply Chain and Global Logistics Excellence (SCALE) Network for Latin America y Director de MIT Graduate Certificate in Logistics &amp;
                            Supply Chain Management (GCLOG), más información sobre él podrán encontrar en <a href="https://ctl.mit.edu/about/bio/christopher-mejia-argueta">https://ctl.mit.edu/about/bio/christopher-mejia-argueta</a></p>
                        <p>Durante su Visita a la UPB, se realizó una conferencia sobre el programa Graduate Certificate in Logistics &amp; Supply Chain Management (GCLOG ) en la sala de Video conferencias del Campus Julio León Prado, se explicaron los beneficios
                            del programa como las oportunidades para los alumnos vinculados a postgrado y graduados hace menos de 2 años. Dicha conferencia fue grabada, por lo que si no tuvo la oportunidad de asistir puede conectarse a través de Youtube
                            al link siguiente: <a href="https://www.youtube.com/watch?v=-AhKjBXDkLY">https://www.youtube.com/watch?v=-AhKjBXDkLY</a></p>
                        <p>También como actividad para la comunidad de Alumni de Cochabamba, presentó el libro de su coautoría: Reaching 50 Million Nanostores: Retail Distribution in Emerging Megacities by Jan C. Fransoo (Author),‎ Edgar E. Blanco (Author),‎
                            Christopher Mejia-Argueta (Author). Este libro interesante libro, puede adquirirse en el link siguiente: <a href="https://www.amazon.com/Reaching-Million-Nanostores-Distribution-Megacities/dp/1975742001">https://www.amazon.com/Reaching-Million-Nanostores-Distribution-Megaciti...</a></p>
                        <p>Sinopsis:</p>
                        <p>"Comprender el negocio de nanoalmacenes en los mercados emergentes es fundamental para la estrategia de crecimiento de la mayoría de las empresas de bienes de consumo que se mueven rápidamente, y esta no ha sido una tarea fácil.
                            Este libro proporciona una comprensión clara de la complejidad y redes de nanostores a través de su rico material, incluyendo marcos y casos que son importantes y útiles para desarrollar una estrategia de distribución efectiva
                            para servir y ganar en este complejo mercado ". - Danillo G. Figueiredo, Dire</p>
                    </div>
                </div>
                <p id="abajo" style="text-align: center;"><img class="img-fluid" style="height: 500px;" src="http://www.upb.edu/sites/default/files/pictures/image2.jpg" alt=""></p>
            </div>
        </div>
    </div>
</article>
<article>
    <h1 class="page-header">William Newburry&nbsp;PhD.</h1>
    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
            <div class="field-item even" property="content:encoded">
                <div id="texto" class="col">
                    <p>El día de ayer 3 de octubre, en la UPB de La Paz, se llevó a cabo el Conversatorio en Inglés conducido por el experto en Estrategia Global William Newburry Ph. D. que llegó de la Florida International university (FIU) como docente
                        invitado de la Maestría de Negocios Digitales y para compartir este importante tema con los alumnos y exalumnos de la UPB, así como el público en general.</p>
                </div>
                <p id="abajo" style="text-align: center;"><img class="img-fluid" src="http://www.upb.edu/sites/default/files/pictures/IMG_0958.JPG" alt=""></p>
            </div>
        </div>
    </div>
</article>