<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-users sr-icons"></i>
                    <h3 class="mb-3"><a href="/eventos">Eventos internacionales</a></h3>
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-user-tie sr-icons"></i>
                    <h3 class="mb-3"><a href="/visitas">Visitas internacionales</a></h3>
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-user-tie sr-icons"></i>
                    <h3 class="mb-3"><a href="/foros">Foros internacionales</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>