<!-- Page Content -->
<div class="container">
    <div class="row">
       <div class="col-sm-8">
          <h1 class="my-4">Conferencia
              <small>Christopher Mejía Ph.D</small>
           </h1>
           <div class="row">
              <div class="col-md-6" style="text-align: center">
                <br>
                 <img src="https://firebasestorage.googleapis.com/v0/b/inter-8999f.appspot.com/o/christopher.png?alt=media&token=e035ff75-b61e-4112-b6ce-084680d13329" class="img-fluid" alt="Responsive image">
              </div>
              <div class="col-md-6">
                 <h2 class="my-3">Noticia</h2>
                 <p>En marzo del 2018 recibimos la grata visita del Dr. Christopher Mejía Argueta director de MIT Supply Chain and Global Logistics Excellence (SCALE) Network for Latin America y director de MIT Graduate Certificate in Logistics & Supply Chain Management (GCLOG).Durante su Visita a la UPB, se realizó una conferencia sobre el programa Graduate Certificate in Logistics & Supply Chain Management (GCLOG ) en la sala de Video conferencias del Campus Julio León Prado, se explicaron los beneficios del programa como las oportunidades para los alumnos vinculados a postgrado y graduados hace menos de 2 años.</p>
                 <h3 class="my-3">Project Details</h3>
                 <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                 </ul>
              </div>
           </div>
       </div>
       <div class="col-sm-4">
            <h4>fb-post</h4>
            <fb-post href="https://www.facebook.com/universidad.privada.boliviana/posts/1733059836763856"></fb-post>
            <h4>fb-comment-embed</h4>
            <fb-comment-embed href="https://www.facebook.com/zuck/posts/10102735452532991?comment_id=1070233703036185" width="500"></fb-comment-embed>    
            <h4>fb-like</h4>
            <fb-like href="https://zyramedia.com"></fb-like>      
       </div>
    </div>
 </div>