<div id="noticias">
    <h1>Programas internacionales</h1>
    <article>
        <h2>Programa de alta gerencia</h2>
        <div class="row">
            <div class="col">
                <p>La UPB en alianza con la Universidad Politécnica de Valencia, han desarrollado un programa de Alta Gerencia Internacional, que plantea formar de manera práctica y teórica en habilidades gerenciales y dotar de herramientas, en un programa
                    de una semana intensiva de formación continua en Valencia (España).</p>
            </div>
            <div class="col">
                <img class="img-fluid" src="http://www.upb.edu/sites/default/files/pictures/IMG_0958.JPG" alt="">
            </div>
        </div>
    </article>
</div>