#panel {
    margin-top: 75px;
}

#formulario {
    text-align: center;
}

.btn-primary {
    border: 0px;
    background-color: rgb(41, 47, 109);
}

.btn-primary:hover {
    border: 0px;
    background-color: rgba(188, 199, 39, 0.808);
}