<div id="container">
   <section class="masthead text-center text-white d-flex">
      <div class="container my-auto">
         <div class="row">
            <div class="col-md-10 mx-auto">
               <h1 class="text-uppercase">
                  <strong>INTERNACIONALIZACIÓN</strong>
               </h1>
               <hr class="light my-4">
            </div>
            <div class="col-md-8 mx-auto mb-5">
               <p>La Universidad Privada Boliviana, en su proyección a la internacionalización, ha suscrito convenios con universidades de Norteamérica, Europa y Latinoamérica.</p>
               <a pageScroll class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Aprende más</a>
            </div>
         </div>
      </div>
   </section>
   <div class="fullscreen-bg">
      <video id="mi-video" loop muted autoplay class="fullscreen-bg__video">
         <source src="https://firebasestorage.googleapis.com/v0/b/inter-8999f.appspot.com/o/VideoCochabamba2.mp4?alt=media&token=2e8a899b-9c92-4de4-b73a-2acafe38f35b" type="video/mp4">
      </video>
   </div>
</div>