<div class="container">
  <div class="row">
     <div class="col">
        <h1 class="mt-4">Programa de Alta Gerencia</h1>
        <p class="lead">
           por
           <a href="#">UPB</a>
        </p>
        <hr>
        <p>Publicado el 9 de junio, 2018 17:15 PM</p>
        <hr>
        <img class="img-fluid rounded" src="http://www.upb.edu/sites/default/files/pictures/PAG%20%281%29.gif" alt="">
        <hr>
        <p>La UPB en alianza con la Universidad Politécnica de Valencia, han desarrollado un programa de Alta Gerencia Internacional, que plantea formar de manera práctica y teórica en habilidades gerenciales y dotar de herramientas, en un programa de una semana intensiva de formación continua en Valencia (España).</p>
        <p><strong>OBJETIVO</strong></p>
        <p>Desarrollar capacidades en negocios internacionales, en los participantes dotándoles de herramientas gerenciales desde una perspectiva global.</p>
        <p><strong>METODOLOGÍA DEL PROGRAMA</strong></p>
        <ul>
           <li>Método de casos</li>
           <li>Clases dinámicas y participativas</li>
           <li>Talleres empresariales</li>
           <li>Visitas empresariales</li>
        </ul>
        <p><strong>DIRIGIDO A:</strong></p>
        <ul>
           <li>Alumnos y ex alumnos de maestrías</li>
           <li>Profesionales y empresarios</li>
           <li>Emprendedores en negocios globales</li>
        </ul>
        <p><strong>CARACTERÍSTICAS DEL PROGRAMA</strong></p>
        <p><strong>Programación Académica UPB</strong></p>
        <ul>
           <li>Taller de Gestion Empresarial orientado al Alto Rendimiento</li>
           <li>Taller de Estrategia y Simulación Empresarial.</li>
        </ul>
        <p><strong>Programación Académica UPV</strong></p>
        <ul>
           <li>Salida a Valencia - España, 3era. semana de Enero del 2018.</li>
        </ul>
        <p><strong>BENEFICIOS DEL PROGRAMA</strong></p>
        <p><strong>Por parte de la UPB:</strong></p>
        <ul>
           <li>Materiales impresos y digitales, sobre Gerencia Internacional.</li>
           <li>Plataforma virtual y conexion virtual via Adobe Conect.</li>
           <li>Simulador empresarial internacional.</li>
           <li>Talleres de gerencia empresarial internacional.</li>
           <li>Certificacion y reconocimentos a los participantes.</li>
        </ul>
        <p><strong>Por parte de la UPV:</strong></p>
        <ul>
           <li>Materiales impresos y digitales, sobre Gerencia Internacional.</li>
           <li>Talleres de gerencia internacional, con destacados profesores de España.</li>
           <li>Sesiones conversatorias con empresarios Españoles.</li>
           <li>Vistas a empresas internacionales en Valencia.</li>
           <li>Recorridos a lugares emblematicos de Valencia.</li>
           <li>Sesiones outdoor de entrenamiento de equipos de alto rendimiento.</li>
           <li>Transporte a los diferentes lugares coordinados en el programa.</li>
           <li>Alojamiento y comidas por los días que dura el programa.</li>
           <li>Certificado internacional a los participantes.</li>
           <hr>
        </ul>
        <div class="imagen" style="text-align: center">
          <img class="img-fluid rounded" src="http://www.upb.edu/sites/default/files/imagen_programas_internazionalizacion.png" alt="" style="text-align: center">
        </div>
        <br>
    </div>
  </div>
</div>